header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}














.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}






















.blog,
.contact {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog h2 {
    text-align: center;
}

.blog-entry {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    /* Alinea los elementos en la parte superior del contenedor flex */
}
























/* d2: style(css): Set up fixed footer at bottom of page */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}




.search {
    float: right;
    line-height: 80px;
    position: relative;
    /* Agregamos posición relativa para posicionar el botón */
}

.search input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

.search-button {
    padding: 6px 10px;
    background-color: #3498db;
    /* Color azul */
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    /* Bordes redondeados en el lado derecho */
}

.search-button:hover {
    background-color: #2980b9;
    /* Color azul más oscuro al pasar el ratón */
}

/* d1: feat(css): Create responsive image gallery with hover effect */
.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}